*, *:before, *:after {
    box-sizing: inherit;
}
body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    position: relative;
    width: 100%;
    height: 100vh;

    font-family: 'Zilla Slab', sans-serif;

    color: #333;
}

nav {
    line-height: 2em;
    padding: 0 1em;
}
.box-nav {
    display: inline-block;
    vertical-align: middle;
}
.box-parent {
    display: inline-block;
}
/* a trick (TM) for css-only tabs */
.box {
    background-color: #fafafa;
    position: absolute;
    right: 0;
    visibility: hidden;

    top: 2em;
    bottom: 2em;
    left: 0;
    right: 0;

    line-height: 1.2em;
}

.box-parent:focus-within > .box {
    visibility: visible;
}

#edit-box {
    visibility: visible;
    padding: 1em;
    white-space: pre-wrap;

    color: #999;
}
#edit-box:focus {
    color: #111;
}
