*, *:before, *:after {
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    margin: 0;
    position: relative;

    color: #666;
    background-color: #fcfcfc;

    min-height: 100vh;
    
    font-family: 'Zilla Slab',  serif;
}
.header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 2em;

    display: table;
    white-space: nowrap;
}

a:link {
    color: inherit;
    text-decoration: none;
    transition: color .1s;
}
a:visited {
    color: inherit;
}
a:hover {
    color: #999;
}
a:active {
    color: inherit;
}

.header-content {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
}
#edit-box {
    position: fixed;
    top: 2em;
    bottom: 2em;
    overflow: auto;
    
    width: 100%;
    padding: 1em;

    color: #666;
}
#edit-box:focus {
    outline: none;
    color: #111;
}
.edit-content {
    white-space: pre-wrap;
    position: relative;
}
.edit-content::selection {
    background: #111;
    color: #fff;
}
.prev-text {
}
.live-text {
    text-decoration: underline;
}
.cursor{
}
.scroll-stop {
    position:absolute;
    bottom: -50vh;
    width: 100%;
    height: 50vh;
}

.footer {
    position: absolute;
    bottom: 0;

    width: 100%;
}

.status {
    font-size: small;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.progress {
    width: 100%;
    transition: height .2s;
}
.progress > div  {
    height: 100%;
    width: 0%;
    background-color: #999;
}
